@use "styles/abstracts/mixins";

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.03);
  padding: 2rem;
  padding-right: 0;
  width: 18rem;
  z-index: 20;

  @include mixins.middleBreakpoint() {
    padding: 0;
    width: 5rem;
  }

  @include mixins.smallBreakpoint() {
    top: auto;
    right: 0;
    width: auto;
    background-color: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.03);
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
}

.navItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  
  svg {
    height: 2rem;
    width: 2rem;
  }
  
  @include mixins.middleBreakpoint() {
    align-items: center;
  }

  @include mixins.smallBreakpoint() {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem 1rem 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #eee;
  }

  svg {
    margin: 0 1rem;

    @include mixins.middleBreakpoint() {
      margin: 0 1rem;
    }
  }

  @include mixins.middleBreakpoint() {
    padding: 1rem 0;
  }

  @include mixins.smallBreakpoint() {
    padding: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 1rem;

  @include mixins.middleBreakpoint() {
    margin-top: 1.5rem;

    svg:last-of-type {
      transform: translate(-16px, 12px);
    }
  }

  @include mixins.smallBreakpoint() {
    margin: 1rem;
    transform: translateY(-6px);
  }
}

.text {
  @include mixins.middleBreakpoint() {
    display: none;
  }
}

.skipLink {
  position: absolute;
  top: -999px;
  left: 0;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
  color: black;

  &:focus,
  &:hover {
    top: auto;
    left: auto;
  }
}
