@use "styles/abstracts/variables" as *;
@use "sass:color";

.modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 7px color.adjust($grey, $alpha: 0.8);
  border-radius: 2px;

  &.offscreen {
    height: 0;
    overflow: hidden;
  }
}

.navItems {
  list-style: none;
  padding: 0.2em;
}

.navItem {
  padding: 0.5em 1em;
  border-radius: 2px;

  &:hover {
    background-color: $hovergrey;
  }
}
