.editorContainer {
  display: flex;
  background-color: #ccc;
  height: 100%;
  max-height: 15rem;
  text-align: left;
  content: "Chargement de l'éditeur";
}

.codeMirrorWrapper {
  overflow: hidden;
  flex: 1;
  height: 100%;
}
