.editorContainer {
  display: flex;
  height: 15rem;
  text-align: left;
}

.codeMirrorWrapper {
  overflow: hidden;
  flex: 1;
  height: 100%;
}

.loaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}