@use "styles/abstracts/mixins";

.container {
  width: 100%;
  min-height: 100vh;
}

.main {
  margin-left: 18rem;
  padding-top: 1rem;

  @include mixins.middleBreakpoint() {
    margin-left: 5rem;
  }

  @include mixins.smallBreakpoint() {
    margin: 0;
    padding-bottom: 3rem;
  }
}
