@use "styles/abstracts/mixins";
@use "styles/abstracts/variables" as *;

.postCardWrapper {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  margin: 6px 0;
  
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .description {
    padding: 1rem 1rem 0 1rem;
    overflow-wrap: break-word;

    &:hover {
      cursor: pointer;
    }

    &:hover + .snippet {
      padding: 1.25rem 1rem;
      margin: 0;
    }
  }

  .snippet {
    padding: 0.25rem 0;
    margin: 1rem;

    code {
      min-height: 100px;
      max-height: 400px;
      overflow: auto;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
    }
  }

  .bottom {
    padding: 0.5rem 1rem;

    .reactsWrapper {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;

      .reacts {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .reactItem {
        display: flex;
        align-items: center;
        padding: 0.25rem;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        p {
          font-weight: 600;
          margin-right: 0.25rem;
        }
        
        svg {
          width: 24px;
        }
      }

      .comments {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        
        &:hover {
          background-color: var(--hover);
        }
      }
    }

    .btnsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn {
        padding: 1rem;
        margin: 0 2px;
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: var(--hover);
        }
      }

      .openReacts {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1rem;
          left: 0;
          top: -1rem;
        }
      }
    }
  }
}

.reactsModal {
  position: absolute;
  top: -3.5rem;
  left: 0;
  width: 250px;
  padding: 0.5rem 1rem;
  background-color: var(--hover);
  z-index: 1;
  box-shadow: var(--shadow-low);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
  pointer-events: none;

  svg {
    width: 32px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;

    &:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }
}

.openReacts:hover .reactsModal, .reactsModal:hover {
  opacity: 1;
  pointer-events: all;
}

.postCardDetailPage {
  code {
    max-height: 100%!important;
  }

  .comment {
    display: none;
  }
}

.topRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  i {
    font-size: 0.8rem;
    color: inherit;
    opacity: 0.9;
  }
}

.language {
  opacity: 0.9;
}

.actionsMenu {
  position: relative;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  z-index: 50;

  svg {
    height: 1.5rem;

    circle {
      fill: #ccc;
    }
  }

  &:hover {
    background-color: var(--hover);

    svg circle {
      fill: #fff;
    }
  }

  &.menuDisabled {
    cursor: auto;

    &:hover {
      background-color: transparent;

      svg circle {
        fill: #ccc;
      }
    }
  }
}

.singleReactWrapper {
  position: relative;
  
  .singleReactInfo {
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 120px;
    padding: 2px 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 0.9rem;
    font-weight: normal;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: default;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.1)
  }

  &:hover .singleReactInfo {
    opacity: 1;
  }
}