// Colors

$primary: hsl(203, 100%, 50%);
$lightbg: hsl(0, 0%, 96%);
$red: hsl(355, 78%, 56%);
$green: hsl(101, 100%, 35%);
$grey: hsl(0, 0%, 76%);
$lightgrey: hsl(0, 0%, 84%);
$hovergrey: hsl(0, 0%, 95%);
$orange: hsl(38, 100%, 50%);
