.blocker {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.modal {
  position: fixed;
  width: 90%;
  height: 90%;
  max-width: 800px;
  max-height: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: white;
  text-align: center;
  z-index: 200;
  border-radius: 4px;
  box-shadow: none !important;
}

.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    margin-bottom: 0.5rem;
  }

  input,
  textarea,
  select,
  .descriptionEditor {
    width: 100%;
    background-color: var(--hover);
    border: var(--border);
  }

  select {
    padding: 0.8em 1em;
  }

  .descriptionEditor {
    height: 10vh;
    resize: none;
    padding: 1rem;
    text-align: left;
  }
}
