@use "styles/abstracts/variables" as *;

.infosContainer {
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;
  overflow-wrap: break-word;
}

.profileInfos {
  margin-bottom: 1.5rem;

  p {
    margin: 4px 0;

    a {
      margin-left: 0.5rem;
      color: $primary;
    }
  }
}
