.editComment {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 750px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  margin: auto;
  z-index: 5;

  padding: 1rem;
  background-color: #fff;
}

.editCommentBlocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  cursor: default;
  z-index: 4;
}