@use "styles/abstracts/variables" as *;

:root {
  --scroll-thumb: darken($grey, 20%);
  --scroll-track: $lightgrey;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  background-color: $lightbg;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.CodeMirror {
  height: 100% !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  display: block;
}

@supports (scrollbar-color: $grey $lightgrey ) {
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  }
}

.mt4 {
  margin-top: 4rem;
}