@use "styles/abstracts/variables" as *;
@use "sass:color";

.form {
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 325px;
  border-radius: 4px;

  select {
    width: 100%;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .inputWrapper {
    width: 100%;
    position: relative;
    margin: 1rem 0;

    label {
      position: absolute;
      left: 1rem;
      top:0.4rem;
      color: inherit;
      opacity: 0.5;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
    }

    .input:focus + label, :not(.input:placeholder-shown) + label {
      left: 0;
      top: -1.25rem;
      opacity: 1;
    }
  }
}

.input {
    width: 100%;
    padding: 0.5rem 1rem;
    padding-right: 2.5rem;
    outline: none;
    border: var(--border);
    border-radius: 4px;
    position: relative;
    line-height: 1rem;
    background-color: var(--hover);
    color: inherit;

    &Pwd {
      padding-right: 4rem;
    }

    &:focus, &:not(.input:placeholder-shown) {
      border-color: black;
    }
}

.btn {
  width: 100%;
  margin-top: 1.5rem;
  outline: none;
  padding: 0.5rem;
  background-color: $primary;
  color: white;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.github {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 24px;
      margin-right: 0.5rem;
    }
  }
}

.errmsg {
  color: $red;
  margin-bottom: 1rem;
}


.instructions {
  position: relative;
  background-color: color.scale($red, $alpha: -20%);
  border-radius: 0.5rem;
  color: white;
  padding: 1em;
  margin-top: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: auto;
  transition: all 0.3s ease;
  
  &.offscreen {
    height: 0;
    padding: 0 1em;
  }

  svg {
    fill: white;
    height: 1em;
    margin-right: 1em;
  }
}

.formLink {
  margin-top: 1rem;
}

.showPwdIcon {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  border: none;
  background-color: transparent;
  width: 1.3em;
  height: fit-content;
  margin: 0.5rem 2.2rem;
  cursor: pointer;

  &Login {
    margin: 0.5rem;
  }
  
  svg {
    height: 1.3em;
    stroke: var(--txt-color);

    path {
      fill: var(--txt-color);
    }
  }
}

.advantages {
  text-align: center;
  background-color: color.scale($orange, $alpha: -90%);
  padding: 1em;
  border-radius: 1rem;

  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }
}

.deleteAccount {
  color: $red;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 1rem;
}

.favoriteTheme {
  align-self: flex-start;
  margin-top: 2rem;
}

.userPicture {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.userPictureWrapper {
  text-align: center;
  margin-bottom: 0.75rem;

  p {
    cursor: pointer;
  }
}

@media screen and (max-width: 525px) {
  .form {
    min-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .form {
    border: none;
    padding: 0 -2rem;
    background-color: inherit;
  }
}